<alfresco-datatable
    [data]="data"
    [actions]="contentActions"
    [multiselect]="multiselect"
    (showRowContextMenu)="onShowRowContextMenu($event)"
    (showRowActionsMenu)="onShowRowActionsMenu($event)"
    (executeRowAction)="onExecuteRowAction($event)"
    (rowClick)="onRowClick($event)"
    (rowDblClick)="onRowDblClick($event)">
    <no-content-template>
        <template>
            <div style="text-align: center">
                <h2>No patient data available.</h2>
                <p>
                    <img [src]="baseComponentPath + '/img/users.png'" style="width: 200px">
                </p>
            </div>
        </template>
    </no-content-template>
</alfresco-datatable>
