*.log
node_modules
workspace.xml
.idea/
dist/
!systemjs.config.js
typings/
node_modules/
bower_components/
app/**/*.js
app/**/*.js.map
.idea
dist/

# docker files
docker-compose.yml
Dockerfile
!app/js/xml2json.js