@media only screen and (max-width: 640px) {
    .mdl-layout__header.header-search-expanded .mdl-layout-title {
        display: none;
    }
}

.profile-image {
    text-align: center;
    border-radius: 90%;
    width: 50px;
    margin-right: 0%;
    cursor: pointer;
    border: 2px solid #999999;
}

.button-profile {
    display: inline-block;
    margin-right: -10px;
    background-color: #0e2d40;
    border: 0px;
}
