<!-- Always shows a header, even in smaller screens. -->
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Health Care App</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>

            <!-- Search bar -->
            <search-bar (expand)="onToggleSearch($event)"></search-bar>

            <!-- Navigation. We hide it in small screens. -->
            <nav *ngIf="isLoggedIn()" class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" data-automation-id="patients" href="" routerLink="/patients">Patients</a>
                <a *ngIf="isAdmin()" class="mdl-navigation__link" data-automation-id="createpatient" href=""
                   routerLink="/createpatient">New Patient</a>
                 <a *ngIf="!isAdmin()" class="mdl-navigation__link" data-automation-id="visits" href="" routerLink="/visits">Visits List</a>
                <!--<a class="mdl-navigation__link" data-automation-id="webscript" href="" routerLink="/webscript">Webscript</a>-->
                <!--<a class="mdl-navigation__link" data-automation-id="login" href="" routerLink="/login">Login</a>-->
                <!--<a class="mdl-navigation__link" data-automation-id="about" href="" routerLink="/about">About</a>-->
            </nav>

            <!-- Right aligned menu below button -->
            <div id="img_container">
                <div class="button-profile" id="demo-menu-lower-right" data-automation-id="right-action-menu">
                    <img *ngIf="isLoggedIn() && isAdmin()" id="admin-img" src="app/img/admin.jpeg" class="profile-image"/>
                    <img *ngIf="isLoggedIn() && !isAdmin()" id="visitor-img" src="app/img/visitor.jpg" class="profile-image"/>
                    <img *ngIf="!isLoggedIn()" id="visitor-img" src="app/img/anonymous.gif" class="profile-image"/>
                </div>
            </div>
            <!--button id="demo-menu-lower-right" data-automation-id="right-action-menu"></button-->

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
                <li class="mdl-menu__item " (click)="changeLanguage('en')"><span class="flag-icon flag-icon-gb"></span> English</li>
                <li class="mdl-menu__item" (click)="changeLanguage('gr')"><span class="flag-icon flag-icon-gr"></span> Greek</li>
                <li class="mdl-menu__item" (click)="changeLanguage('it')"><span class="flag-icon flag-icon-it"></span> Italian</li>
                <a class="mdl-menu__item" data-automation-id="patients" href="" routerLink="/patients">Patients</a>
                <a *ngIf="isAdmin()" class="mdl-menu__item" data-automation-id="createpatient" href=""
                   routerLink="/createpatient">New Patient</a>
                <a *ngIf="!isAdmin()" class="mdl-menu__item" data-automation-id="visits" href="" routerLink="/visits">Visits List</a>
                <a *ngIf="!isLoggedIn()" class="mdl-menu__item" routerLink="/login">Login</a>
                <li *ngIf="isLoggedIn()" class="mdl-menu__item" (click)="onLogout($event)">Logout</li>
                <a class="mdl-menu__item" routerLink="/about">About</a>
            </ul>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span *ngIf="isLoggedIn()" class="mdl-layout-title">Components List</span>
        <nav *ngIf="isLoggedIn()" class="mdl-navigation">
            <a class="mdl-navigation__link" href="" routerLink="/patients" (click)="hideDrawer()">Patients</a>
            <!--<a class="mdl-navigation__link" href="" routerLink="/files" (click)="hideDrawer()">Files</a>-->
            <!--<a class="mdl-navigation__link" href="" routerLink="/datatable" (click)="hideDrawer()">DataTable Demo</a>-->
            <!--<a class="mdl-navigation__link" href="" routerLink="/uploader" (click)="hideDrawer()">Uploader Demo</a>-->
            <a class="mdl-navigation__link" href="" routerLink="/login" (click)="hideDrawer()">Login</a>
            <!--<a class="mdl-navigation__link" href="" routerLink="/activiti" (click)="hideDrawer()">Activiti Components Demo</a>-->
            <!--<a class="mdl-navigation__link" href="" routerLink="/webscript" (click)="hideDrawer()">Webscript</a>-->
            <a class="mdl-navigation__link" href="" routerLink="/about" (click)="hideDrawer()">About</a>
        </nav>
        <span class="mdl-layout-title">ECM host</span>
        <nav class="mdl-navigation">
            <input type="text" class="mdl-textfield__input" id="ecmHost" data-automation-id="ecmHost"
                   tabindex="1" (change)="onChangeECMHost($event)" value="{{ecmHost}}"/>
        </nav>
        <span class="mdl-layout-title">BPM host</span>
        <nav class="mdl-navigation">
            <input type="text" class="mdl-textfield__input" id="bpmHost" data-automation-id="bpmHost"
                   tabindex="1" (change)="onChangeBPMHost($event)" value="{{bpmHost}}"/>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <alfresco-login method="{{methodName}}"></alfresco-login>
            <router-outlet></router-outlet>
        </div>

        <!--Notification bar-->
        <div id="notification-bar"  class="mdl-js-snackbar mdl-snackbar"
             #notificationBar>
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
    </main>
</div>
