<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
        <h4>Tags</h4>
        <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            (click)="resetFilters()">
            Show All
        </button>
        <ul class="mdl-list">
            <li *ngFor="let filter of tagFilters" class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <label [attr.for]="'chk-' + filter.id"
                           class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                           [class.is-checked]="filter.isSelected">
                        <input type="checkbox"
                               [attr.id]="'chk-' + filter.id"
                               class="mdl-checkbox__input"
                               [(ngModel)]="filter.isSelected"
                               (change)="onFilterChanged($event)">
                        <span class="mdl-checkbox__label">{{filter.tag}}</span>
                    </label>
                </span>
                <!--<span class="mdl-list__item-secondary-action">(0)</span>-->
            </li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--10-col">
        <div class="container">
            <alfresco-upload-drag-area
                [showUploadDialog]="true"
                [currentFolderPath]="currentPath"
                [uploaddirectory]=""
                (onSuccess)="documentList.reload()">
                <alfresco-document-list-breadcrumb
                    [currentFolderPath]="currentPath"
                    [target]="documentList">
                </alfresco-document-list-breadcrumb>
                <alfresco-document-list
                    #documentList
                    [currentFolderPath]="currentPath"
                    [contextMenuActions]="true"
                    [contentActions]="true"
                    [rowFilter]="tagFilter"
                    (preview)="showFile($event)"
                    (folderChange)="onFolderChanged($event)"
                    (nodeClick)="onNodeClicked($event)">
                    <content-columns>
                        <content-column key="$thumbnail" type="image"></content-column>
                        <content-column
                            title="{{'DOCUMENT_LIST.COLUMNS.DISPLAY_NAME' | translate}}"
                            key="name"
                            sortable="true"
                            class="full-width ellipsis-cell">
                        </content-column>
                        <!--
                        <content-column
                                title="{{'DOCUMENT_LIST.COLUMNS.CREATED_BY' | translate}}"
                                key="createdByUser.displayName"
                                sortable="true"
                                class="desktop-only">
                        </content-column>
                        -->
                        <content-column
                            title="First Name"
                            key="properties.hc:firstName"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                        <content-column
                            title="Last Name"
                            key="properties.hc:lastName"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                        <content-column
                            title="Doctor"
                            key="properties.hc:doctor"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                        <content-column
                            title="{{'DOCUMENT_LIST.COLUMNS.CREATED_ON' | translate}}"
                            key="createdAt"
                            type="date"
                            format="shortDate"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                    </content-columns>

                    <content-actions>
                        <!-- folder actions -->
                        <content-action
                            target="folder"
                            title="{{'DOCUMENT_LIST.ACTIONS.FOLDER.DELETE' | translate}}"
                            handler="delete">
                        </content-action>
                        <!-- document actions -->
                        <content-action
                            target="document"
                            title="{{'DOCUMENT_LIST.ACTIONS.DOCUMENT.DOWNLOAD' | translate}}"
                            handler="download">
                        </content-action>
                        <content-action
                            target="document"
                            title="{{'DOCUMENT_LIST.ACTIONS.DOCUMENT.DELETE' | translate}}"
                            handler="delete">
                        </content-action>
                        <content-action
                            target="folder"
                            title="Detail"
                            (execute)="patientDetails($event)">
                        </content-action>
                    </content-actions>
                </alfresco-document-list>
                <alfresco-pagination
                    [provider]="documentList.data"
                    [supportedPageSizes]="[5, 10, 15, 20]">
                </alfresco-pagination>
            </alfresco-upload-drag-area>
        </div>
    </div>
</div>

<!-- Example for creating a custom folder type with properties -->
<!--
<div class="mdl-grid">
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-folderName" [(ngModel)]="newPatient.folderName">
            <label class="mdl-textfield__label" for="patient-folderName">Folder Name</label>
        </div>
    </div>
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-firstName" [(ngModel)]="newPatient.firstName">
            <label class="mdl-textfield__label" for="patient-firstName">First Name</label>
        </div>
    </div>
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-lastName" [(ngModel)]="newPatient.lastName">
            <label class="mdl-textfield__label" for="patient-lastName">Last Name</label>
        </div>
    </div>
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-doctor" [(ngModel)]="newPatient.doctor">
            <label class="mdl-textfield__label" for="patient-doctor">Doctor</label>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            (click)="onCreateNewPatientClick()">
            Create Patient
        </button>
    </div>
</div>
-->


<!--
For debugging and data visualisation purposes,
will be removed during future revisions
-->
<div class="patients-debug-container">
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1" [class.is-checked]="debugMode">
        <input type="checkbox" id="switch-1" class="mdl-switch__input" [(ngModel)]="debugMode">
        <span class="mdl-switch__label"></span>
        <span class="debug-toggle-text">Debug mode</span>
    </label>

    <!-- Example for associating tags with node -->
    <div *ngIf="debugMode">
        <div class="mdl-grid" *ngIf="selectedNode">
            <div class="md-cell mdl-cell--12-col">
                <div>
                    Selected node: {{ selectedNode.entry.name + ' (' + selectedNode.entry.id + ')' }}
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="node-tags" #nodeTags>
                    <label class="mdl-textfield__label" for="node-tags">Tags</label>
                </div>
                <button
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                    (click)="setNodeTags(selectedNode.entry.id, nodeTags.value)">
                    Set Tags
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="debugMode">
        <pre>{{documentList.data.getRows() | json}}</pre>
    </div>
</div>

<context-menu-holder></context-menu-holder>

<alfresco-viewer [(showViewer)]="fileShowed"
                 [urlFile]="urlFile"
                 [fileName]="fileName"
                 [mimeType]="mimeType"
                 [overlayMode]="true">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
</alfresco-viewer>

<file-uploading-dialog #fileDialog></file-uploading-dialog>
