<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="container">
            <alfresco-upload-drag-area
                [showUploadDialog]="true"
                [currentFolderPath]="currentPath"
                [uploaddirectory]=""
                (onSuccess)="documentList.reload()">
                <alfresco-document-list-breadcrumb
                    [currentFolderPath]="currentPath"
                    [target]="documentList">
                </alfresco-document-list-breadcrumb>
                <alfresco-document-list
                    #documentList
                    [currentFolderPath]="currentPath"
                    [contextMenuActions]="true"
                    [contentActions]="true"
                    (preview)="showFile($event)"
                    (folderChange)="onFolderChanged($event)">
                    <content-columns>
                        <content-column key="$thumbnail" type="image"></content-column>
                        <content-column
                            title="{{'DOCUMENT_LIST.COLUMNS.DISPLAY_NAME' | translate}}"
                            key="name"
                            sortable="true"
                            class="full-width ellipsis-cell">
                        </content-column>
                        <!--
                        <content-column
                                title="{{'DOCUMENT_LIST.COLUMNS.CREATED_BY' | translate}}"
                                key="createdByUser.displayName"
                                sortable="true"
                                class="desktop-only">
                        </content-column>
                        -->
                        <content-column
                            title="First Name"
                            key="properties.hc:firstName"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                        <content-column
                            title="Last Name"
                            key="properties.hc:lastName"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                        <content-column
                            title="Doctor"
                            key="properties.hc:doctor"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                        <content-column
                            title="{{'DOCUMENT_LIST.COLUMNS.CREATED_ON' | translate}}"
                            key="createdAt"
                            type="date"
                            format="shortDate"
                            sortable="true"
                            class="desktop-only">
                        </content-column>
                    </content-columns>

                    <content-actions>
                        <!-- folder actions -->
                        <content-action
                            target="folder"
                            title="{{'DOCUMENT_LIST.ACTIONS.FOLDER.DELETE' | translate}}"
                            handler="delete">
                        </content-action>
                        <!-- document actions -->
                        <content-action
                            target="document"
                            title="{{'DOCUMENT_LIST.ACTIONS.DOCUMENT.DOWNLOAD' | translate}}"
                            handler="download">
                        </content-action>
                        <content-action
                            target="document"
                            title="{{'DOCUMENT_LIST.ACTIONS.DOCUMENT.DELETE' | translate}}"
                            handler="delete">
                        </content-action>
                    </content-actions>
                </alfresco-document-list>
                <alfresco-pagination
                    [provider]="documentList.data"
                    [supportedPageSizes]="[5, 10, 15, 20]">
                </alfresco-pagination>
            </alfresco-upload-drag-area>
        </div>
    </div>
</div>

<div class="mdl-grid">
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-folderName" [(ngModel)]="newPatient.folderName">
            <label class="mdl-textfield__label" for="patient-folderName">Folder Name</label>
        </div>
    </div>
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-firstName" [(ngModel)]="newPatient.firstName">
            <label class="mdl-textfield__label" for="patient-firstName">First Name</label>
        </div>
    </div>
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-lastName" [(ngModel)]="newPatient.lastName">
            <label class="mdl-textfield__label" for="patient-lastName">Last Name</label>
        </div>
    </div>
    <div class="md-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="patient-doctor" [(ngModel)]="newPatient.doctor">
            <label class="mdl-textfield__label" for="patient-doctor">Doctor</label>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            (click)="onCreateNewPatientClick()">
            Create Patient
        </button>
    </div>

</div>


<context-menu-holder></context-menu-holder>

<alfresco-viewer [(showViewer)]="fileShowed"
                 [urlFile]="urlFile"
                 [fileName]="fileName"
                 [mimeType]="mimeType"
                 [overlayMode]="true">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
</alfresco-viewer>

<file-uploading-dialog #fileDialog></file-uploading-dialog>
