.container {
    /*margin: 10px;*/
}

@media only screen and (max-width: 640px) {
    .container {
        margin: 0;
    }
}

.patients-debug-container {
    padding: 10px;
}

.patients-debug-container .debug-toggle-text {
    padding-left: 15px;
    cursor: pointer;
}

.patients-debug-container .debug-toggle-text:hover {
    font-weight: bold;
}
